@media (max-width: @screen-xs) {
   h4{font-size: 8px;}
}
 
.calltoaction-wrapper {
  text-align: center;
}
.section-map{
	padding:0;
	height:400px;
}

#contact-us-map {
  height: 400px;
  margin:0;
}
.contact-us-details {
  margin: 20px 0;
  font-size: 0.9em;
}
.calltoaction-wrapper h3 {
  display: inline-block;
  line-height: 36px;
  margin-right: 10px;
  margin-bottom: 0;
}
.calltoaction-wrapper a {
  vertical-align: top;
}
 

.bss h3 {
 border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #777a65;

}
.rechtsunten {
margin-right:10px;
margin-bottom:10px;
margin-top:5px;
}
 
 
.schwarz {color: red;}
 
.maxPicHeight {
	max-height: 110px; }
	
	
 
	
	/* *********************************
           Variables
  ********************************** */
$navbar-height: 50px;
$big-logo-padding: 15px; // adjust these 2 values
$small-logo-padding: 2px; // of bottom padding to look nice












/* *********************************
   Some Style Overrides on Bootstrap
  ********************************** */
 
 

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
   border-color: transparent;
  
}
 
  
@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
	
    .top-nav-collapse {
        padding: 0;
    }
}

 








/* navbar */
.navbar-default {
   font-size: floor(@component-font-size-base * 1.067); // ~16px
   border-radius: @border-radius-large;
   border: none;
   background-color: @brand-primary !important;
}
 
 
/* link */
.navbar-default .navbar-nav > li > a {
    color: @clouds;
}
.navbar-default .navbar-nav > li > a:hover {
    color: @clouds;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: @clouds;
    background-color: @brand-secondary;  // Changes color of main button that is currently active.
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: @clouds;
    background-color: @brand-secondary;  //  Changes color of main menu button once clicked.
}
/* caret */
.navbar-default .navbar-nav > li > a .caret {
    border-top-color: @clouds;
    border-bottom-color: @clouds;
    color: @clouds;
}
 
 











/* *********************************
           Toolbar Logo
  ********************************** */
.small-logo-container {
    padding-top: $navbar-height;
    height: $navbar-height;
    overflow: hidden;
    position: absolute;
  }

.small-logo {
  color: white;
  font-size: 2.5em;
  padding-bottom: $small-logo-padding;
}

 .section-breadcrumbs
{
padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 1px;
  
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  margin-bottom: 10px;
  margin-top: 85px;
}



.footer {
  background: #222;
  color: #A0A0A0;
  padding: 0 20px 10px 20px;
  border-top: 4px solid blue;
  border-top-color: #337AB7;
  margin-top: 20px;
  -webkit-box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
  box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
  color: 0 -1px 12px rgba(0,0,0,0.4);
}

.footer  a, .footer a:hover {
   color: #fff;
}


.pad0 {padding-top: 1px;

padding-left: 1px;
}
.bo2 {  padding-top:20px;}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail > h4 {
    padding: 7px 5px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.thumbnail h4 .info {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 0.6em;
    padding-left: 15px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 4px;
    border-radius: 0px;
    border-bottom-left-radius: 5px;
    cursor:  pointer;
}

.thumbnail h4 .info > span {
    margin-right: 10px;   
}

.thumbnail img {
    width: 100%;
}
.thumbnail a.btn {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
