 

.bss h3 {
 border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #777a65;

}
.rechtsunten {
margin-right:10px;
margin-bottom:10px;
margin-top:5px;
}
.show-grid [class^="col-"]
{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(86, 61, 124, 0.15);
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgba(86, 61, 124, 0.2);
  border-right-color: rgba(86, 61, 124, 0.2);
  border-bottom-color: rgba(86, 61, 124, 0.2);
  border-left-color: rgba(86, 61, 124, 0.2);
  border-image-source: none;
  border-image-slice: 100% 100% 100% 100%;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
} 

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
	color: #fff;
	background-color: #337AB7;
}
.navbar-nav > li > .dropdown-menu {
 color: #fff;
	background-color: #337AB7;
}
.dropdown-menu > li > a {
	color: #fff; 
}
.navbar-default .navbar-brand {
	color: #fff;
}
.navbar-default .navbar-nav > li > a {
	 color: #337AB7; 
}
.maxPicHeight {
	max-height: 110px; }
	
	
	
	
	/* *********************************
           Variables
  ********************************** */
$navbar-height: 50px;
$big-logo-padding: 15px; // adjust these 2 values
$small-logo-padding: 2px; // of bottom padding to look nice












/* *********************************
   Some Style Overrides on Bootstrap
  ********************************** */
.navbar-inverse {
   background: rgba(62,195,246,0);
  border-bottom: none;
}
.navbar-inverse .navbar-toggle {
  border: 1px solid #333;
  border-color: rgba(255,255,255,0.7);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
   border-color: transparent;
  @media (max-width: 767px) {
    background: rgba(255,255,255,0.75);
  }
}
.navbar-inverse .navbar-nav > li > a {
color: black;
  

}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
color: #22F;
 
}
ul.nav {
}
 
.navbar-default {
    background-color: #FFF;
    border-color: #CCC;
	color: #FFF;
}
.navbar {
	background:#111;
}
@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
	
    .top-nav-collapse {
        padding: 0;
    }
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #aec62c;
    color: #fff;
}








/* navbar */
.navbar-default {
   font-size: floor(@component-font-size-base * 1.067); // ~16px
   border-radius: @border-radius-large;
   border: none;
   background-color: @brand-primary !important;
}
 
 
/* link */
.navbar-default .navbar-nav > li > a {
    color: @clouds;
}
.navbar-default .navbar-nav > li > a:hover {
    color: @clouds;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: @clouds;
    background-color: @brand-secondary;  // Changes color of main button that is currently active.
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: @clouds;
    background-color: @brand-secondary;  //  Changes color of main menu button once clicked.
}
/* caret */
.navbar-default .navbar-nav > li > a .caret {
    border-top-color: @clouds;
    border-bottom-color: @clouds;
    color: @clouds;
}
.navbar-default .navbar-nav > li > a:hover .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret,  
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}











/* *********************************
           Toolbar Logo
  ********************************** */
.small-logo-container {
    padding-top: $navbar-height;
    height: $navbar-height;
    overflow: hidden;
    position: absolute;
  }

.small-logo {
  color: white;
  font-size: 2.5em;
  padding-bottom: $small-logo-padding;
}

 .section-breadcrumbs
{
  background-color: #337AB7;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  margin-bottom: 10px;
  margin-top: 85px;
}